body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../Media/background\ clasiffi.png');
    background-size: cover;
    z-index: -1;
    opacity: .8;
}
