@import url("./Modal/ChatModal/chat-modal.css");

.chat-btn {
    position: absolute;
    top: 0%;
    right: 0%;
 
}

.chat-btn button {
    cursor: pointer;
    border-radius: 5%;
    transition: background-color .3s;
}

.chat-list-g{
    display: inline-block; 
    margin-right: .5%; /* Espacio entre los items */
    text-align: center; /* Centra el texto horizontalmente */
    height: 95%;
    width:  100px;
    border: 1px solid red;
    border-radius: 50%;
}

/* MOB */
@media (max-width: 769px) {

.container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados de la barra de desplazamiento */
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color al pasar el ratón sobre la barra */
}
}

/* DESK */
@media (min-width: 769px) {
    .chat-btn button:hover {
        background-color: #f83131;
    }
}

.container {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Asegura que los elementos se alineen en una sola línea */
    border: 1px solid #ccc; /* Borde para el contenedor */
}

.item {
    background-color: #f1c40f; /* Color de fondo de los items */

}