#spinner {
    width: 4%;
    height: 8%;
    position: fixed;
    bottom: 0%;
    right: 0%;
    
}

/* MOB */
@media (max-width: 769px) {
    #spinner {
        bottom: -15%;
        width: 10%;
        height: 20%;
        right: 0%;
    }
}

/* DESK */
@media (min-width: 769px) {}