@import url("../modal-basic.css");



.ch-modal {
    width: 95%;
    height: 95%;
    top: 1%;
    left: 1%;
}


.ch-dial-box{
    width: 95%;
    margin-left: calc(5% / 2);
    height: 80%;
    background-color: #3f3f3fbd;
}

.ch-list{
    width: 95%;
    margin-top: 1.5%;
    height: 11%;
    background-color: #3f3f3fbd;
    margin-left: calc(5% / 2);
}

/* MOB */
@media (max-width: 769px) {
    .ch-modal {
        width: 90%;
        height: 85%;
        top: 3%;
        left: 2%;
    }

    .ch-list{
        width: 95%;
        margin-top: 2%;
        height: 13%;
        background-color: #3f3f3fbd;
        margin-left: calc(5% / 2);
    }
    
    
}

/* DESK */
@media (min-width: 769px) {

}


