.filter-cont{
    width: 100%;
    text-align: center;
    background-color:#ff0a0a62;
    

}

.filter-l{
    margin-right:  1.5%;
}

.filter-dl{
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1000;

    color: black;
}

.filter{
    text-align: center;
    color: red;
    background-color: #000000;
    border: none;
    border: 1px solid red;
}

/* MOB */
@media (max-width: 769px) {
  
    .filter{
        width: 80%;
        font-size: 1rem;

       
    }
    .filter-cont{
        padding: 1.5vh 0;

    }

    .filter-dl{
        font-size: 1rem;
        width: 90%;
        margin-left: 3%;
        margin-top: 3%;
    }

}

/* DESK */
@media (min-width: 769px) {

    .filter{
        width: 90%;
        font-size: 1.3rem;

       
    }
    .filter-cont{
        padding: 2.5vh;

    }

}