.r-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.r-background img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r-backgroundCTL-btn {
    position: fixed;
    top: 0;
    left: 20%;
    width: 7vh;
    height: 5vh;
    cursor: pointer;

}


.r-backgroundCTL-btn svg {
    width: 4vh;
}


/* MOB */
@media (max-width: 769px) {}

/* DESK */
@media (min-width: 769px) {}