.r-sex-clt{
    background-image: url("../../Media/2214844.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 40%;
    border: none;
}

.r-anim-clt{
    left: 60%;
}